 <style>
        body {
            font-family: Times New Roman, sans-serif; 
            margin: 0; 
            padding: 0;
            background: #FFFACD;
        }

       main {
            display: flex; /* Устанавливаем flex-контейнер для гибкого расположения элементов */
            flex-direction: column; /* Располагаем дочерние элементы вертикально */
            width: 100%; /* Занимаем всю ширину контейнера */
            padding: 20px; /* Внутренние отступы */
            background-color: #FFDAB9; /* Светлый фон для выделения секций */
            margin-bottom: 10px; /* Отступ снизу для разделения блоков */
        }

        main {
            align-items: center; /* Центрируем дочерние элементы (новости) по горизонтали */
        }

        .products-container {
            display: flex; 
            justify-content: space-between;
            flex-wrap: wrap; 
            gap: 20px;
        }

        .product {
            display: flex; 
            flex-direction: column;
            width: 300px;
            padding: 15px;
            border: 1px solid #8B4513; 
            background-color: #D2B48C;
            border-radius: 8px;
        }
    </style>
