body {
     font-family: Times New Roman, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #008000;
     line-height: 1.6;
}     
header {
    background-color: #B22222;
    color: white;
    text-align: center;
    padding: 30px 0;
}
.image {
     width: 150px;
     height: 150px;
     border: 20px solid black;
     flex-direction: colum;
}       
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;    
}
